/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("fonts/OpenSans-Light.eot");
  src: url("fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Light.woff2") format("woff2"), url("fonts/OpenSans-Light.woff") format("woff"), url("fonts/OpenSans-Light.ttf") format("truetype"), url("fonts/OpenSans-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* variables*/
/* Design */
* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-size: 16px;
  font-family: "OpenSans-Light", Arial, sans-serif;
  color: #ffffff;
}

/* selection menu */
.mobile-start {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding-top: 35%;
}
.mobile-start h1 {
  padding: 5% 5%;
}
.mobile-start img {
  width: 50%;
}
.mobile-start .nyt-logo {
  display: flex;
  justify-content: center;
}

/* image grid */
.anchorTag {
  position: relative;
}
.anchorTag p {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  display: none;
}
.anchorTag:hover p {
  display: block;
}
.anchorTag img {
  width: 100%;
  height: 250px;
}

@keyframes slide {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30%);
  }
}
.mobile-start {
  animation-name: slide;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

/* Loader GIF */
.loader-GIF {
  display: none;
}

/* Footer */
.footer-container {
  color: #c2c2c2;
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

/* RESPONSIVE BREAKPOINT 1: 600 PIXELS */
@media screen and (min-width: 600px) {
  @keyframes slide {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-40%);
    }
  }
  .mobile-start {
    width: 100%;
    padding-right: 40%;
    animation-name: slide;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }

  .mobile-start {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .mobile-start h1 {
    padding: 0;
    width: 30%;
  }
  .mobile-start .nyt-logo {
    width: 50%;
  }
}
.loader-GIF {
  display: none;
}

/* RESPONSIVE BREAKPOINT 1: 1240 PIXELS */
@media screen and (min-width: 1240px) {
  @keyframes slide {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  .mobile-start {
    width: 100%;
    padding-right: 40%;
    padding-top: 20%;
    animation-name: slide;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }

  .mobile-start {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .mobile-start h1 {
    padding: 0;
    width: 20%;
  }
  .mobile-start .nyt-logo {
    width: 50%;
  }

  .loader-GIF {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
