
@import 'partials/reset';
@import 'partials/font';

/* variables*/


/* Design */
$base-font-size: 16px;
$base-font-color: #ffffff;
$base-font-family: 'OpenSans-Light', Arial, sans-serif;
$base-padding: 5% 5%;

* {
    box-sizing: border-box;
  }

body{
    background-color: #000;
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $base-font-color;
}

/* selection menu */

.mobile-start{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding-top: 35%;
    h1{
        padding: $base-padding;
    }
    img{
        width:50%;

    }
    .nyt-logo{
        display: flex;
        justify-content: center;
    }
}


/* image grid */
.anchorTag {
    position: relative;
    p{
        color: white;
        background: rgba(0,0,0,.5);
        width: 100%;
        height: 50px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        display:none;
    }
    &:hover p {
        display: block;
    }
    img{
        width: 100%;
        height: 250px;
    }
}

@keyframes slide {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-30%);
    }
  }
  .mobile-start{
    animation-name: slide;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-play-state: paused; 
    animation-fill-mode: forwards;
  }
  
/* Loader GIF */
.loader-GIF{
    display: none;
}

/* Footer */
.footer-container{
    color: #c2c2c2;
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

/* RESPONSIVE BREAKPOINT 1: 600 PIXELS */

@media screen and (min-width: 600px) {
    @keyframes slide {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(-40%);
        }
    }
    .mobile-start{
        // height: 200px;
        width: 100%;
        padding-right: 40%;
        animation-name: slide;
        animation-duration: .8s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-play-state: paused; 
        animation-fill-mode: forwards;
    }
    .mobile-start{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        h1{
            padding: 0;
            width: 30%;
        }
        .nyt-logo{
            width: 50%;
        }
    }
    }

.loader-GIF{
    display: none;
}

/* RESPONSIVE BREAKPOINT 1: 1240 PIXELS */

@media screen and (min-width: 1240px) {
    @keyframes slide {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(-50%);
        }
    }
    .mobile-start{
        // height: 200px;
        width: 100%;
        padding-right: 40%;
        padding-top: 20%;
        animation-name: slide;
        animation-duration: .8s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-play-state: paused; 
        animation-fill-mode: forwards;
    }
    .mobile-start{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        h1{
            padding: 0;
            width: 20%;
        }
        .nyt-logo{
            width: 50%;
        }
    }
    .loader-GIF{
        display: none;
    }
}

// //use sass functions for changing colors: darken
// $link-color: #800800;
// //create mixin: on top of extend, you can pass paramters to it
// @mixin primary-links {
//     color: blue;
//     text-decoration: none;
// }
// a {
//     @include primary-links
// }

// @mixin headline($color, $size){
//     color: $color;
//     font-size: $size;
// }
// h1 {
//     @include headline($brand-red,22px)
// }

// $desktop-width: 1240px;
// @mixin Desktop {
//     @media only screen and (min-width: $desktop-width) {
//         @content
//     }
// }
// @include Desktop() {
//     li {
//         color: blue;
//     }
//     p {
//         font-size: 1.5em;
//     }
// }
// //create extend using a dot in beginning and using it in any other class
// .message {
//     border: 3px solid #ccc;
//     padding: 5%;
//     color: #333;
// }
// .success {
//     @extend .message;
//     border-color: green;
// }
// //we can use % in message and call it as placeholder, it will still pass its property
// //but doesnt name it in css
// %base-border {
//     border: 3px solid #ccc;
//     padding: 5%;
// }
// .message2{
//     @extend %base-border;
// }


// //create custom function
// $text-color: darkgreen;
// @function set-contrast-color($color) {
//     @if (lightness($color) > 50) {
//         @return #000;
//     } @else {
//         @return #fff;
//     }
// }

// h1 {
//     color: $text-color;
//     background: set-contrast-color($text-color)
// }
// a {
//     color : $link-color;
//     //Darken color
//     &:hover {
//         color: darken($link-color, 50%)
//     }
//     &:visited {
//         color: mix($link-color, #fff, 50%)
//     }
// }

